* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Gill Sans Extrabold, sans-serif;
  background: black;
  color:#B2FF00;;
}

.form-area {
  width: 300px;
  border: 1px solid #B2FF00;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: black;
  text-align: center;
  border-radius: 16px;
}

.form-area input[type="email"],
.form-area textarea, 
.form-area input[type="password"],
input[type="email"],
textarea,
input[type="password"],
input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: left;
  border: 2px solid #B2FF00;
  padding: 18px 14px;
  width: 200px;
  outline: none;
  color: #B2FF00;
  border-radius: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-area h1, h1 {
  color: #B2FF00;
  text-transform: uppercase;
  font-weight: 500;
}

.form-area textarea, textarea {
  overflow-y: hidden;
  height: 20vh;
}

.form-area input[type="email"]:focus,
.form-area textarea:focus, 
.form-area input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
input[type="password"]:focus {
  width: 280px;
  border-color: #B2FF00;
}

.form-area input[type="submit"], input[type="submit"]  {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #B2FF00;
  padding: 18px 40px;
  width: 200px;
  outline: none;
  color: #B2FF00;
  border-radius: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a {
border: 0;
  background: none;
  display: block;
  margin: 20px 30px;
  text-align: center;
  border: 2px solid #B2FF00;
  padding: 18px 40px;
  width: 135px;
  outline: none;
  color: #B2FF00;
  border-radius: 24px;
  text-decoration: none;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border:2px solid #B2FF00;
  border-style:none none solid none;
}
nav li {
	float:left;
}

.form-area input[type="submit"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
  border-color: #B2FF00;
  color: #B2FF00;
}


.searchbar .searchClass {
	display:inline-flex;
	padding-left:250px;
		
}
.searchbar input[type="text"] {
	width:800px;
}
.searchbar input[type="submit"] {
	margin-left:20px;
}

.container {
	padding:20px;
}

.container {
    border: 1px solid #B2FF00;
    background-color: black;
    border-radius: 1.2em;
}

.roundedTable {
    border-collapse: collapse;
    border-radius: 1.2em;
    overflow: hidden;
    width: 100%;
    margin: 0;
}
.roundedTable a {
	margin:0;
}

.roundedTable th,
.roundedTable td {
    padding: .6em;
    background: black;
    border-bottom: 1px solid #B2FF00;
}

.roundedTable th {
    text-align: left;
}

.roundedTable tr:last-child td {
    border-bottom: none;
}

