* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Gill Sans Extrabold, sans-serif;
  background: black;
  color:#B2FF00;;
}

.form-area {
  width: 300px;
  border: 1px solid #B2FF00;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: black;
  text-align: center;
  border-radius: 16px;
}

.form-area input[type="email"],
.form-area textarea, 
.form-area input[type="password"],
input[type="email"],
textarea,
input[type="password"],
input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: left;
  border: 2px solid #B2FF00;
  padding: 18px 14px;
  width: 200px;
  outline: none;
  color: #B2FF00;
  border-radius: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-area h1, h1 {
  color: #B2FF00;
  text-transform: uppercase;
  font-weight: 500;
}

.form-area textarea, textarea {
  overflow-y: hidden;
  height: 20vh;
}

.form-area input[type="email"]:focus,

.form-area input[type="password"]:focus,
input[type="email"]:focus,

input[type="password"]:focus {
  width: 280px;
  border-color: #B2FF00;
}

.form-area input[type="submit"], input[type="submit"]  {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #B2FF00;
  padding: 18px 40px;
  width: 200px;
  outline: none;
  color: #B2FF00;
  border-radius: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a {
  border: 0;
  background: none;
  display: block;
  margin: 20px 30px;
  text-align: center;
  border: 2px solid #B2FF00;
  padding: 18px 40px;
  width: 135px;
  outline: none;
  color: #B2FF00;
  border-radius: 24px;
  text-decoration: none;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border:2px solid #B2FF00;
  border-style:none none solid none;
}
nav li {
	float:left;
}

.form-area input[type="submit"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
  border-color: #B2FF00;
  color: #B2FF00;
}

.form-add {

margin: 50px;
padding: 35px;
}
.form-add .form-add-description input[type="text"] {
	width:800px;
}
.form-add input[type="text"]{
	margin:20px auto;
	
}
.form-add textarea {
display: inline-flex;
width: 29%;
height: 30vh;
margin: 1.25em;
}
.form-add input[type="submit"] {
	width:100%;
}


.searchbar .searchClass {
	display:inline-flex;
	padding-left:250px;
		
}
.searchbar input[type="text"] {
	width:1000px;
}
.searchbar input[type="submit"] {
	margin-left:20px;
}

.container {
	padding:20px;
}


table {
  width: 100%;
  margin: 20px auto;
  table-layout: auto;
}

.fixed {
  table-layout: fixed;
}

table,
td,
th {
  border-collapse: collapse;
}

table a {
	margin:20px auto;
}

th,
td {
  padding: 10px;
  border: solid 1px;
  text-align: center;
  border-radius:24px;
}

.w {
  width: 350px;
}

.full-container {
	width:100%;
	display:flex;
}

.full-container textarea {
	margin:1.25em;
	width:30%;
	height:30vh;
}
.halfest-container {
	margin: 1.25em;
	width: 30%;
	height: 30vh;
	border:2px solid #B2FF00;
	border-radius: 24px;
}
.full-container .view {
  margin-top:50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  
}
